@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  min-height: 100vh;
  background-color: #202733;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

main {
  box-shadow: 30px 50px 80px 0 rgba(0, 0, 0, 0.1);
  background-color: #313a48;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px 24px 64px;
  gap: 24px;
  position: relative;
  width: 343px;
  height: 315px;
}

h1 {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3.46px;
  color: #53ffaa;
}

.advice {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.26px;
  color: #cee3e9;
  text-align: center;
}

button {
  width: 64px;
  height: 64px;
  padding: 20px;
  border: none;
  border-radius: 35px;
  background-color: #53ffaa;
  position: absolute;
  top: 280px;
}

button:hover {
  box-shadow: 0 0 40px 0 #53ffaa;
  background-color: #53ffaa;
}

@media screen and (min-width: 1440px) {
  main {
    padding: 48px;
    width: 540px;
    height: 332px;
  }

  h1 {
    font-size: 13px;
    letter-spacing: 4.09px;
  }

  .advice {
    font-size: 28px;
    letter-spacing: -0.3px;
  }

  .divider {
    margin-bottom: 16px;
  }

  button {
    top: 300px;
  }
}
