@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}

body {
  min-height: 100vh;
  background-color: #202733;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  box-shadow: 30px 50px 80px 0 rgba(0, 0, 0, 0.1);
  background-color: #313a48;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px 24px 64px;
  gap: 24px;
}

h1 {
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 3.46px;
  color: #53ffaa;
}

.advice {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.26px;
  color: #cee3e9;
}

button {
  width: 64px;
  height: 64px;
  padding: 20px;
  border: none;
  border-radius: 35px;
  background-color: #53ffaa;
}
